{% extends "bootstrap/base.html" %}

{% block title %}长颈瓶{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{#    shortcut 为 浏览器标签左边的小图标 #}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">   {# css样式文件 #}
{% endblock %}

{# 导航条 #}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        {# 导航头 #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>  {# 除了屏幕阅读器外,其他设备上隐藏该元素 #}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">长颈瓶</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">项目1</a></li>
                <li><a href="{{ url_for('index') }}">项目2</a></li>
                <li><a href="{{ url_for('index') }}">项目3</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         用户 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user', name='用户1') }}">用户1</a></li>
                        <li><a href="{{ url_for('user', name='用户2', page=2, _external=True) }}">用户2</a></li>
                        <li><a href="{{ url_for('user', name='用户3') }}">用户3</a></li>
                        <li class="divider">分离线</li>
                        <li><a href="#">test4 分离的连接</a></li>
                        <li class="divider">分离线</li>
                        <li><a href="#">test5 另一个分离的链接</a></li>
                        <li><a href="#">test6 另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">    {# 靠右对齐 #}
                <li><a href="#">消息</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         账户 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">修改邮箱</a></li>
                        <li class="divider">分离线</li>
                        <li><a href="#">退出</a></li>
                        <li><a href="#">登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}   {# 引入moment.js库 #}
{{ moment.locale("zh-CN") }}      {# moment使用中文简体，默认为英文,旧版为moment.lang("") #}

{% endblock %}