{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, {% if name %}{{ name }}{% else %}world{% endif %}!</h1>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div>
        {# 渲染表单 #}
        {{ wtf.quick_form(form) }}
        {# {{ wtf.quick_form(form2) }} #}
    </div>
    <div>
        <p>当前时间为： {{ moment().format('YYYY年M月D日, HH:mm:ss') }}。</p>
        <p> {{ moment().fromNow(False, refresh=True) }}</p>
    </div>
</div>
{% endblock %}