{% extends "bootstrap/base.html" %}

{% block title %}
    {{ config.WEB_NAME }} - {% block title_sub %}{% endblock %}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}" type="image/x-icon">
{#    shortcut 为 浏览器标签左边的小图标 #}
<link rel="icon" href="{{ url_for('static', filename='favicon2.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">   {# css样式文件 #}
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{# 导航条 #}
{% block navbar %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        {# 导航头 #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>  {# 除了屏幕阅读器外,其他设备上隐藏该元素 #}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ config.WEB_NAME }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">故事</a></li>
                <li><a href="{{ url_for('main.index') }}">技术</a></li>
                <li><a href="{{ url_for('main.index') }}">问答</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         新闻 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.index') }}">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="divider">分离线</li>
                        <li><a href="#">4</a></li>
                        <li class="divider">分离线</li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">    {# 靠右对齐 #}
                {% if current_user.can(Permission.MODERATE) %}
                <li><a href="{{ url_for('main.moderate') }}">管理评论</a></li>
                {% endif %}
                <li>
                    {% if current_user.is_authenticated %}
                        <a href="#">消息</a>
                    {% else %}
                        <a href="{{ url_for('auth.register') }}">注册</a>
                    {% endif %}
                </li>
                <li class="dropdown">
                    {% if current_user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.gravatar(size=18) }}">
                            <b>{{ current_user.username }}</b><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a>
                            </li>
                            <li class="divider">分离线</li>
                            <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                            <li class="divider">分离线</li>
                            <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                        </ul>
                    {% else %}
                        <a href="{{ url_for('auth.login') }}">登录</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">

        {# flash消息 #}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {# 页面内容 #}
        <div class="col-md-8 col-xs-11">
            {% block page_content %}
            {% endblock %}
        </div>
        {# 页尾 #}

        <br>
{#        <footer class="footer navbar-fixed-bottom ">#}
{#            <div class="container">#}
{#                <p>时间： {{ moment().format('YYYY年M月D日, HH:mm:ss') }}.#}
{#                    {{ moment().fromNow(False, refresh=True) }}</p>#}
{#            </div>#}
{#        </footer>#}
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}   {# 引入moment.js库 #}
{{ moment.locale("zh-CN") }}      {# moment使用中文简体，默认为英文,旧版为moment.lang("") #}

{% endblock %}