{% extends "base.html" %}
{#{% import "_wtf4.html" as wtf %}#}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title_sub %}首页{% endblock %}

{% block page_content %}

    <div class="page-header">

        {% if current_user.is_authenticated %}
            <h4>你好 {{ current_user.username }}</h4>
        {% else %}
            <h4>你好陌生人，人生若只如初见</h4>

        {% endif %}
    </div>
    {% if current_user.can(Permission.WRITE) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有的</a></li>
            {% if current_user.is_authenticated %}
            <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注的</a></li>
            {% endif %}
        </ul>
        {% include '_posts.html' %}
    </div>

    {% if pagination %}

    <div class="pagination pagination-sm">
        {{ macros.pagination_widget2(pagination, 'main.index') }}
    </div>

    {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}