{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title_sub %}用户资料 {{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1>{{ user.username }}</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}<br>{% endif %}
                    {% if user.location %}
                        来自 <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
                    {% endif %}
                </p>
            {% endif %}
            {% if user == current_user %}
                <p>邮箱：{{ user.email }}</p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

            <p>
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-info btn-sm">
                        关注
{#                        <i class="fa fa-heart fa-lg"></i>#}
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default btn-sm">
                        已关注
{#                        <i class="fa fa-heart-o fa-lg"></i>#}
{#                        <span class="glyphicon glyphicon-heart-empty"></span>#}
                    </a>
                    {% endif %}
                {% endif %}
                <br>
                <a href="{{ url_for('.followers', username=user.username) }}">粉丝: <span class="badge">
                    {% if user.followers.count() - 1 < 0 %}0{% else %}{{ user.followers.count() - 1 }}{% endif %}
                    </span>
                </a>
                <a href="{{ url_for('.followed_by', username=user.username) }}">正在关注: <span class="badge">
                    {% if user.followed.count() - 1 < 0 %}0{% else %}{{ user.followed.count() - 1 }}{% endif %}
                    </span>
                </a>
                {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                    | <span class="label label-info">对方关注了你</span>
                {% endif %}
            </p>

            <p>
                加入时间： {{ moment(user.member_since).format('L') }}.
                上次登录： {{ moment(user.last_seen).fromNow() }}.
            </p>

            <P>
                {% if user == current_user %}
                    <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">编辑资料</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin',
                     user_id=user.id) }}">编辑资料 [Admin]</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <p>[管理员]发送邮件给用户：<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                {% endif %}
            </P>
        </div>
    </div>
    <h3>{{ user.username }}的{{ config.POST_NAME }}</h3>

    {% include '_posts.html' %}
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget2(pagination, 'main.index') }}
    </div>
    {% endif %}
{% endblock %}
